# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
venv/
env/
virtualenv/

# Dependency files
requirements.txt
Pipfile.lock

# Logs
*.log

# IDE specific files
.vscode/
.idea/

# Config files
config.py

# Data files
*.csv
*.db
